//styling för mobil
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .product-head {
    font-size: 24px;
    text-align: center;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .table_container {
    min-width: 200px;
    @media (min-width: 600px) {
      min-width: 400px;
    }
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  th {
    padding: 2%;
    font-size: 18px;
    @media (min-width: 1000px) {
      font-size: 36px;
    }
  }

  tr {
    margin: 0 0 1rem 0;
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 2px;
  }

  tr:nth-child(odd) {
    background: rgb(235, 235, 235);
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Produkt";
    padding: 5%;
    font-weight: 700;
  }
  td:nth-of-type(2):before {
    content: "Kategori";
    padding: 5%;
    font-weight: 700;
  }
  td:nth-of-type(3):before {
    content: "Redigera";
    padding: 5%;
    font-weight: 700;
  }

  .btn_update-product {
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 13px;
  }

  .btn_delete-product {
    padding: 5px 10px;
    font-size: 13px;
  }

  .btn_update-product,
  .btn_delete-product a {
    color: white;
  }
}

// Styling för desktop
@media (min-width: 760px) {
  .table_products {
    min-width: 800px;
  }
  .product-head {
    font-size: 46px;
    text-align: center;
    padding: 10%;
  }

  th {
    font-size: 34px;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  tr {
    padding: 5%;
  }

  td {
    width: 200px;
    font-size: 18px;
    padding: 2%;
  }
  .table_products-head {
    padding-right: 30px;
  }

  .btn_update-product,
  .btn_delete-product {
    margin-left: 20px;
  }

  tr:nth-child(odd) {
    background: rgb(235, 235, 235);
  }
}
