.category-list {
    list-style: none;
    display: flex;
    width: 70%;
    margin: 5% 10%;
    flex-wrap: wrap;
    // padding: 3%;
    &__item {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid black;
        display:-ms-flexbox;
        display: grid;
        justify-content: space-between;
        
        grid-auto-flow: column;

    }
    &__item-text {
        box-sizing: border-box;
        min-width: px;
        -ms-grid-column-align: start;
    }
    &__buttons {
        -ms-grid-column-align: end;
    }
}
.category__heading {
    margin-left: 10%;
}
