.categorypage_products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.product_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  margin: 2em;
  padding: 1em;
  background-color: lightgrey;
  text-align: center;
  line-height: 1.5;
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

.product_title {
  //display: inline-block;
  // margin-top: 25%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  @media (min-width: 800px) {
    font-size: 24px;
  }
}

.product_card-btn {
  //display: block;
  //margin-left: 5px;
  position: relative;
  margin-top: 20px; /*inte bra, måste hitta bättre lösning*/
}

.category_name {
  text-align: center;
  @media (min-width: 600px) {
    display: none;
  }
}

.btn-back {
  background-color: rgb(202, 201, 201);
}
