.categorypage_products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@media (min-width: 600px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

.product_card {
	margin: 2em;
	background-color: lightgrey;
	text-align: center;
	height: 200px;
	width: 200px;
}

.product_title {
	display: inline-block;
	margin-top: 25%;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
	@media (min-width: 800px) {
		font-size: 24px;
	}
}

.product_card-btn {
	display: block;
	margin-left: 5px;
	margin-top: 40px; /*inte bra, måste hitta bättre lösning*/
}

.category_name {
	text-align: center;
	@media (min-width: 600px) {
		display: none;
	}
}
