.join-in {
  padding: 5% 10% 5% 10%;
}

.admin_container {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.page-title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffe4e1;
  margin: 5% 10%;
  padding: 3%;
  border-radius: 5px;
  // box-shadow: -2px 2px 6px 0px rgba(201,199,201,1);
  @media (min-width: 600px) {
  }
  @media (min-width: 1000px) {
  }
  &__heading {
    width: 100%;
    padding-bottom: 1rem;
  }
  &__box {
    width: 100%;
    @media (min-width: 600px) {
      width: 100%;
      padding-bottom: 1rem;
    }
  }
  &__box-input {
    margin-top: 1rem;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    padding: 5px;
  }
  &__submit {
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
  &__submit-button {
    // width: 128px;
    // height: 38px;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background-color: rgba(83, 135, 212, 0.9);

    &:hover {
      @media (min-width: 770px) {
        background: rgba(129, 176, 248, 0.9);
        // font-weight: bold;
      }
    }
  }
  &__image {
    width: 100%;
    margin-top: 1rem;
    @media (min-width: 600px) {
      width: 40%;
    }
    @media (min-width: 1000px) {
      width: 100%;
    }
    &-input {
      margin-top: 1rem;
      background-color: white;
      padding: 10px;
      border-radius: 5px;
    }
  }
  &__description {
    width: 100%;
    &-input {
      width: 70%;
      height: 200px;
      border: solid 1px black;
    }
  }
}
.error {
  color: red;
}
