.header__hero {
  background-image: url("../images/spelshoppen2.jpg");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
