.hideCart {
  display: none;
}

.align-button-right {
  position: absolute;
  right: 10%;
}

.shopping-btn {
  text-align: center;
}

.nameValidationText,
.emailValidationText,
.phoneValidationText,
.streetValidationText,
.zipcodeValidationText,
.cityValidationText {
  color: red;
  font-weight: bolder;
}
