.search-form {
	text-align: center;
	@media (min-width: 500px) {
		text-align: left;
	}
	&__label {
		font-size: 24px;
		margin-bottom: 30px;
		@media (min-width: 500px) {
			font-size: 28px;
		}
	}

	&__input-field {
		width: 75%;
		min-width: 150px;
		height: 50px;
		padding: 15px 20px;
		margin: 10px 0;
		border: 0.5px solid rgba(0, 0, 0, 0.637);
		border-radius: 8px;
		background-color: rgba(197, 197, 197, 0.411);
	}
}

.search-result {
	@include gallery;
	margin: 10px 20px 30px 20px;

	&__product-card {
		@include gallery-card;
	}
}

.btn-back {
	background-color: rgb(202, 201, 201);
}
