.frontpage_categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.category_card {
  margin: 2em;
  /*background-color: lightgrey;*/
  background-image: url(/images/barnspel.jpg);
  background-size: cover;
  text-align: center;
  height: 200px;
  width: 200px;
}

.category_title {
  display: inline-block;
  margin-top: 40%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  @media (min-width: 800px) {
    font-size: 24px;
  }
}
