.frontpage_categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.category_card {
  margin: 2em;
  background-color: lightgrey;
  height: 200px;
  width: 200px;
}
