@charset "UTF-8";
/*importera partials, fonter, variabler, mixins, extends etc. */
.frontpage_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .frontpage_categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.category_card {
  margin: 2em;
  /*background-color: lightgrey;*/
  background-image: url(../images/barnspel.jpg);
  background-size: cover;
  text-align: center;
  height: 200px;
  width: 200px;
}

.category_title {
  display: inline-block;
  margin-top: 40%;
  text-decoration: none;
  background-color: lightgrey;
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 800px) {
  .category_title {
    font-size: 24px;
  }
}

.categorypage_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .categorypage_products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product_card {
  margin: 2em;
  background-color: lightgrey;
  text-align: center;
  height: 200px;
  width: 200px;
}

.product_title {
  display: inline-block;
  margin-top: 40%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 800px) {
  .product_title {
    font-size: 24px;
  }
}

.product_card-btn {
  display: block;
  margin-left: 5px;
  margin-top: 40px;
  /*inte bra, måste hitta bättre lösning*/
}

.category_name {
  text-align: center;
}

@media (min-width: 600px) {
  .category_name {
    display: none;
  }
}

/*ok att nedan ligger här eller kan vi lägga det ngn
annanstans så att det fortfarande är med överallt?*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */