/*importera partials, fonter, variabler, mixins, extends etc. */
@import "./mixins/mixins";
@import "extends/extends";
@import "frontpage";
@import "categorypage";
@import "searchpage";
@import "header_extern";
@import "admin-menu";
@import "hero";
@import "footer";
@import "admin_home";
@import "forms";

/*ok att nedan ligger här eller kan vi lägga det ngn
annanstans så att det fortfarande är med överallt?*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
