@charset "UTF-8";
/*importera partials, fonter, variabler, mixins, extends etc. */
/*kodblock för bildhantering*/
.img_wrapper, .img__wrapper {
  position: relative;
  block-size: 100%;
  inline-size: 100%;
  width: 100%;
  height: 100%;
}

.category_img, .logo__img, .socialmedia__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
  max-block-size: 100%;
  max-inline-size: 100%;
  position: absolute;
}

.frontpage_categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .frontpage_categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.category_card {
  margin: 2em;
  text-align: center;
  height: 200px;
  width: 200px;
}

.category_title {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 40%;
  text-decoration: none;
  background-color: lightgrey;
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 800px) {
  .category_title {
    font-size: 24px;
  }
}

.categorypage_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .categorypage_products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product_card {
  margin: 2em;
  background-color: lightgrey;
  text-align: center;
  height: 200px;
  width: 200px;
}

.product_title {
  display: inline-block;
  margin-top: 25%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 800px) {
  .product_title {
    font-size: 24px;
  }
}

.product_card-btn {
  display: block;
  margin-left: 5px;
  margin-top: 40px;
  /*inte bra, måste hitta bättre lösning*/
}

.category_name {
  text-align: center;
}

@media (min-width: 600px) {
  .category_name {
    display: none;
  }
}

.search-form__label {
  font-size: 30px;
}

.search-form__input-field {
  margin: 10px;
}

.search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .search-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search-result__product-card {
  margin: 2em;
  background-color: lightgrey;
  text-align: center;
  height: 200px;
  width: 200px;
}

.menu-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  background: #061b38;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center center;
  place-items: center center;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 500px) {
  .menu-wraper {
    min-height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-wraper__logo-wrap {
  height: 100%;
  width: 100%;
  max-width: 72px;
  max-height: 43px;
  margin-right: 0;
  margin-bottom: 15px;
}

.menu-wraper__logo-wrap img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 500px) {
  .menu-wraper__logo-wrap {
    margin: 0 auto 0 42px;
  }
}

.menu-wraper__link-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content max-content max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content max-content max-content;
  place-items: center;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 500px) {
  .menu-wraper__link-list {
    padding-right: 20px;
  }
}

.menu-wraper__links {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 15px;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 500px) {
  .menu-wraper__links {
    font-size: 16px;
    padding: 30px;
  }
}

#dropdown-categories {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.welcome-admin {
  text-align: center;
  padding: 20px;
}

#admin-menu-wraper {
  background-color: #d1d1d1;
  text-align: center;
}

#admin-menu-wraper__link-list {
  list-style-type: none;
  text-align: center;
}

#admin-menu-wraper__link {
  margin: 10px;
}

#toggle-menu {
  background-color: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  margin: 30px;
}

#toggle-menu:hover {
  background-color: white;
  color: #4caf50;
}

.hide {
  display: none;
}

.header__hero {
  background-image: url("../images/spelshoppen2.jpg");
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__contact {
  text-align: center;
}

.bold_txt {
  font-weight: bold;
}

.footer__logo {
  width: 100px;
  height: 100px;
}

.footer__socialmedia {
  width: 200px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icon-parent {
  width: 45px;
  height: 45px;
  margin: 5px;
}

.join-in {
  padding: 5% 10% 5% 10%;
}

.admin_container {
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f1f1f1;
  margin: 5% 10%;
  padding: 3%;
  border-radius: 5px;
}

.form-container__heading {
  width: 100%;
  padding-bottom: 1rem;
}

.form-container__box {
  width: 100%;
}

@media (min-width: 600px) {
  .form-container__box {
    width: 100%;
    padding-bottom: 1rem;
  }
}

.form-container__box-input {
  margin-top: 1rem;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 0;
  padding: 5px;
}

.form-container__submit {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.form-container__submit-button {
  border-radius: 10px;
  border: solid 1px #2c4f80;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3369ff;
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
}

@media (min-width: 770px) {
  .form-container__submit-button:hover {
    background: rgba(83, 135, 212, 0.9);
  }
}

.form-container__image {
  width: 100%;
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .form-container__image {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .form-container__image {
    width: 100%;
  }
}

.form-container__image-input {
  margin-top: 1rem;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.form-container__description {
  width: 100%;
}

.form-container__description-input {
  width: 100%;
  height: 200px;
  border: solid 1px black;
}

.footer-admin {
  height: 200px;
  background-color: #4e7dbe;
}

/*ok att nedan ligger här eller kan vi lägga det ngn
annanstans så att det fortfarande är med överallt?*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */